<div class="hero">
  <div class="hero-body">
    <div class="container">
      <div *ngIf="product" class="columns">
        <div class="column is-5">
          <figure class="image">
            <img src="./assets/img/{{ product.image }}">
          </figure>
        </div>
        <div class="column is-6">
          <h1 class="title is-2">
            {{ product.name }}
          </h1>
          <h2 class="subtitle is-4">
            {{ product.shortdesc }}
          </h2>
          <div class="select is-medium">
              <select>
                <option>Single Bottle (1)</option>
                <option>Sixpack (6)</option>
                <option>Full crate (24)</option>
              </select>
            </div>
          <a class="button is-medium is-dark">
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
            <span>Add to cart</span>
          </a>
          <p>
            {{ product.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>