/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';
@import '~bulma/css/bulma.css';

.card {
    display:flex;
    flex-direction: column;
}

.cart-footer {
    margin-top: auto;
}

.card-content > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-header {
    margin-bottom: 5px;
}
